<div class="container text-center bg-light p-5 mt-5 rounded border border-danger shadow-lg">
    <p class="text-center text-info"><b>Tic Tac Toe</b></p>
    <h1>Current player  : {{player}}</h1>


    <h2 *ngIf="winner">
        Player {{winner}} won the game 😍.
    </h2>

    <main>
        <app-sqauare 
        *ngFor="let val of squares;  let i = index"
        [random]="val"
        (click)="makeMove(i)"
        class="text-center"
        [class]="{oncli : winner}"
        >

        </app-sqauare>
    </main>
    <div class="text-center" *ngIf="winner">
        <button class="btn btn-danger mb-2 " (click)="newGame()">Restart</button>
    </div>
</div>
